@use './token';

@use './buttons';
@use './mixins';

@use 'sass:list';

.weekly-promotions {
    @include mixins.usual-section(row);
    gap: 1rem;

    .weekly-promotion {

        .p-title {
            @include mixins.p-title();
        }

        .h3-description {
            @include mixins.h3-description();
        }

        hr {
            width: 10%;
            margin-left: 0;
        }

        .p-description {
            font-family: list.nth($list: token.$font-families, $n: 2);
        }

    }

    img {
        width: 100%;
    }

}