@use './token';
@use './mixins';

@use 'sass:list';

.week-collections {
    @include mixins.usual-section;

    .p-title {
        @include mixins.p-title();
    }
    
    .h3-description {
        @include mixins.h3-description();
    }

    hr {
        width: 10%;
    }

    .p-description {
        font-family: list.nth($list: token.$font-families, $n: 2);
        text-align: center;
    }

    .week-collections-images {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

